@model LuckyFishExercise.Models.Sign

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sign</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._SignName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._SignName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._SignJoker)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._SignJoker)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model._SignID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
